Source: giggle
Section: devel
Priority: optional
Maintainer: Andrea Corradi <lash@unstable.it>
Build-Depends: debhelper (>= 5.0.51), quilt, autotools-dev, libglib2.0-dev (>= 2.18), libgtk2.0-dev (>= 2.12), libglade2-dev (>= 2.4), libgtksourceview2.0-dev (>= 2.0), libxml-parser-perl, git-core (>= 1.5.6.3), libebook1.2-dev, intltool (>= 0.35)
Homepage: http://live.gnome.org/giggle
Standards-Version: 3.8.1

Package: giggle
Architecture: any
Depends: git-core (>= 1.5.6.3), ${shlibs:Depends}
Description: Gtk+ frontend for the git directory tracker
 Giggle is a Gtk frontend to the git directory tracker.
 With Giggle you will be able to visualize and browse easily
 the revision tree, view changed files and differences between
 revisions, visualize summarized info for the project, commit
 changes and other useful tasks for any git projects contributor.

